canvas
{
  float:left;
  width:50%;
  height:50%;
  border:2.5px solid red;
  border-radius:5px 5px 5px 5px;
}

#content
{
  float:left;
}

body
{
  background-color:rgb(219, 255, 209);
}


.lil-gui { 
  /*
	--background-color: #000;
	--widget-color: rgb(255, 255, 255);
	--padding: 2px;
  --font-size:25px;
  --input-font-size:25px;
  width:200px;
  --widget-width:250px;
  --slider-input-width:50px;
  --widget-padding:5px 5px 5px 5px;
  --padding:20px;
  */
  --font-size:20px;
}
